<h2>Show PDA</h2>

<ul>


  <li>
    <strong>PDA Type:</strong>
    <%= @pda.pda_type %>
  </li>

  <li>
    <strong>PDA Subject:</strong>
    <%= @pda.pda_subject %>
  </li>

  <li>
    <strong>PDA Certifier:</strong>
    <%= @pda.pda_certifier %>
  </li>

  <li>
    <strong>PDA Data:</strong>
    <%= @pda.pda_data %>
  </li>

</ul>

<span><%= link "Edit", to: pda_path(@conn, :edit, @pda) %></span>
<span><%= link "Back", to: pda_path(@conn, :index) %></span>
